.pdng24Block {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
}

.viewTaskRow {
    cursor: pointer;
}

.head {
    position: sticky;
}

.tablePosition {
    position: relative;
    top: 80px;
    width: 900px;
    margin: auto;
}

.up_arrow {
    font-size: 10px;
    color: green
}

.down_arrow {
    font-size: 10px;
    color: red
}

.blue {
    color: blue
}